@import "../../../assets/colors/colors.scss";

nav {
    display: flex;
    position: sticky;
    justify-content: space-around;
    top: 0;
    width: 100%;
    background-color: $nav2-color;
    height: 40px;
    align-items: center;
    z-index: 99;
    
    a {
        color:$black;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        text-align:center;
        padding-top: 5px;
        transition: background-color 0.5s ease;
    }
    
    a:hover  {
        background-color: $nav3-color;
        transition: background-color 0.5s ease;
    }
}