@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import "./assets/colors/colors.scss";
@import "./assets/mixin/mixin.scss";

* {
    font-family: 'EB Garamond', serif;
    color: $font-3;
    font-size: 20px;
}

h2 {
    font-size: 26px;
    font-weight: Bold;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
    font-weight: 600;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('assets/photo/e8u661wb0gx71.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

section {
    width: 90%;
    margin: 20px auto;
    padding: 10px 5px;
    background-color: $trans-background;
    
    @include tablette {
        width: 80%;
    }
    
}

.errorMessage , .error {
    font-size: 20px;
    padding: 10px;
}

#root {
    min-height:100vh;
}