@import "../../../assets/colors/colors.scss";


.blog-content {
    padding: 0 10px;
    
    .blog-title {
    padding: 10px 0;
    word-wrap: break-word
    }
}

.btn-delete-blog , .btn-edit-blog , .btn-create-comment{
    background-color: transparent;
    border: 2px solid $btn1;
    padding: 4px;
    cursor: pointer;
    margin-left: 5px;
    
    &:hover {
        border-color: $btn2;
    }
}

.comments {
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: $comment-background;
    border-radius: 7px;
    
    
    .comments-list {
        width: 90%;
        margin: 15px auto;
        display: flex;
        flex-wrap: wrap;
        background-color: $comment-background;
        border-radius: 7px;
        
        &:hover .comment-control .btn-delet-comment-blog , &:hover .comment-control .btn-edit-comment  {
            display: block;
        }
        
        .comment-control {
            display: flex;
            justify-content: right;
            margin: 0;
            width: 60%;
            
            .btn-delet-comment-blog , .btn-edit-comment {
                display: none;
                border: none;
                background-color: transparent;
                color : $btn3;
                cursor: pointer
            }
        }
        
        
        .comments-list-user {
            width: 35%;
            box-sizing: border-box;
            text-align: center;
            padding: 5px;
            margin: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
        
        .comments-list-content {
            width: 100%;
            word-wrap: break-word
            box-sizing: border-box;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
            padding: 15px;
            margin: 0;
        }
    }
}

.link-in-blog {
    color: $btn3;
    
    &:hover {
        text-decoration: underline;
    }
}