// website main colors
$primary-color: #807654;    //Gray Gold
$secondary-color: #4a432b;    //Black Gold
$third-color: #634e1c;    //Black Orange
$forth-color: #595752;    //Gray
$fifth-color: #d1ab36;    //Gold

//nav colors
$nav1-color: rgba(99 , 78 , 28 , 0.6);
$nav2-color: rgba(247, 210, 121 , 0.6);
$nav3-color: rgba(89, 87, 82, 0.7);

//text colors
$font-1: #e3e1dc;    //Dark White
$font-2: #d4d1cb;    //Light Gray
$font-3: #eee6d8;    //Light Gold
$black: #000;

//hover colors
$hover-bgc1: rgba(247, 210, 121 , 0.6);
$hover-bgc2: rgba(99 , 78 , 28 , 0.6);

//background
$trans-background: rgba(0, 0, 0 , 0.7);
$color1-background: rgba(69, 64, 52 , 0.6);
$color2-background: rgba(89, 87, 82, 0.7);

//button
$btn1: rgba(110, 87, 18, 0.8);    //Dark Sun
$btn2: rgba(168, 133, 25, 0.8);    //Light Sun