@import "../../../assets/colors/colors.scss";
@import "../../../assets/mixin/mixin.scss";

.all-users {
    width: 80%;
    margin: 40px auto;
    background-color: $trans-background;
    
    .userListContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    
    .users {
        width: 100%;
        text-align: center;
        box-sizing:border-box;
        padding: 5px;
        box-shadow: -6px -6px 42px 6px rgba(255,255,255,0.2) inset;
        
        @include tablette {
            width: 45%;
        }
        
        @include desktop {
            width: 31%;
        }
        
        p {
            padding: 5px;
        }
    }
    
    .modification {
        margin: 5px;
        padding: 5px;
        
        .users-modification {
            margin: 10px;
            padding: 5px;
            
            input[type="checkbox"] {
                accent-color: $fifth-color; 
            }
            
        }
        
        button {
            background-color: $btn1;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 7px;
            margin: 0 5px;
            padding: 5px;
        }
        
        button:hover {
            background-color: $btn2;
        }
    }
    
}