$breakpoints : (
    tablette: 690px,
    desktop: 960px
);

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints,tablette)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints,desktop)) {
        @content;
    }
}