@import "../../../assets/colors/colors.scss";
@import "../../../assets/mixin/mixin.scss";

.wrapper-detail {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bfa42f;
    border-radius: 7px;
    box-shadow: 
        inset 0 0 10px rgba(70, 95, 58, 0.5),
        inset 0 0 20px rgba(70, 95, 58, 0.5),
        inset 0 0 30px rgba(70, 95, 58, 0.5),
         0 0 10px rgba(255, 255, 255, 0.3),
         0 0 15px rgba(255, 255, 255, 0.3),
         0 0 20px rgba(255, 255, 255, 0.3),
    ;
    
    @include desktop {
        flex-wrap: nowrap;
    }
    
    .spell-container , .spell-image {
        box-sizing: border-box;
        margin: 0;
        padding: 15px;
        width: 100%;
        
        @include desktop {
            width: 50%;
        }
        
    }
    
    .spell-name , .spell-type , .spell-damage , .spell-damagetype {
        margin: 5px;
        padding: 10px;
    }
    
    .spell-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
